{% extends "base.html"%}
{%block body%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Argon Social</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		
		 
			 
		  <li class="nav-item">
			<a class="nav-link" href="#">Profile</a>
		  </li> 
		 
		  <li class="nav-item">
			<a class="nav-link" href="#">Feed</a>
		  </li> 
		  <li class="nav-item">
			<a class="nav-link" href="/admin  ">login</a>
		  </li>
			<li class="nav-item">
			<a class="nav-link" href="/logoutuser">logout</a>
		  </li>
		</ul>
		<form class="d-flex">
		  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	  </div>
	</div>
  </nav>

<div class="overlaid-content" data-text-effect="rotate_in" data-alignment="center" data-alignment-v="middle" style="height: 457px; will-change: auto;"><div class="container">
						 <div class="row">
							<div class="col span_6">
								<div class="inner-wrap">
									<h1 class="top-heading"><span class="wraped"><span style="transform: rotateX(0deg) translate(0px, 0px); opacity: 1;"> </span></span><br><span class="wraped"><span style="transform: rotateX(0deg) translate(0px, 0px); opacity: 1;">Connect With Your Friends</span></span></h1>
									<span class="subheader" style="transform: rotateX(0deg) translate(0px, 0px); opacity: 1;">Follow people who have interest in you! Stay uptodate with latest news</span>
								</div>
								 
																</div>
						  </div>

						  <div class="row">
							<div class="col span_6">
								<div class="inner-wrap">
									<p> </p>
									</div>
								 
																</div>
						  </div>

					  <div >
						<a href="/login">
						<button type="button" class="btn btn-primary">Login</button>    
					 </a>
						<a href="/accounts/signup/">
							<button type="button" class="btn btn-danger">Register</button>
						</a>
					  </div>
					  </div><div class="scroll-down-wrap"><a href="#" class="section-down-arrow"><i class="fa fa-angle-down top"></i><i class="fa fa-angle-down"></i></a></div></div>
{%endblock body  %}
{%block title %}
About
{%endblock title  %}