{% extends 'base1.html'%}
{% load rest_framework %}
{% block title%}
Profiles
{% endblock title%}

{% block content%}

  
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  width: 90%; margin: 300px;>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
        <div class="row justify-content-center mt-3">
            <div class="col-md-10 col-sm-12 ">
                <div class="header">
                    <h3><strong>Update your Profile </strong></h3>
                  </div>
                <div class="image content">
                    <div class="ui medium image">
                        {% for data in obj%}
                    
                        <img src="{{data.avatar}}" width="200" height="230">
                        {% endfor %}
                    </div>
                    <div class="description">
                        <div class="ui header">Provide some additional/newest info about you </div>
                
                    <form action="/profileupdateapi/" method="POST" class="ui form" enctype='multipart/form-data' >
                        {% csrf_token %}

                        <input value='{{request.user.id}}' name="user" id='user'>
                    
                        {% render_form serializer %}
                        
                        <input type="submit" value="Save">
                        <!--{{form.as_p}}-->
                        
                    <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputFName">First Name</label>
                              <input type="text" class="form-control" id="fname" placeholder="e.g Muhammad">
                            </div>
                        <div class="form-group col-md-6">
                            <label for="inputLName">Last Name</label>
                            <input type="text" class="form-control" id="lname" placeholder="e.g Abdullah">
                            </div>
                        </div>
                          <div class="form-group col-md-6">
                            <label for="inputBio">Bio</label>
                            <input type="text" class="form-control" id="bio" placeholder="Sample Bio">
                          </div>
                          
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">Country</label>
                              <input type="text" class="form-control" id="country">
                            </div>

                          </div>
                          <div class="form-group">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">update your picture</label>
                                <input type="file" class="form-control-file" id="pic">
                              </div>
                          </div>

                        
                    
                    </div>
                </div>
                <div class="actions">
                  <button type='submit' class="ui positive right labeled icon button">
                    Update
                    <i class="checkmark icon"></i>
                  </button>
                  <br><br>
                  </form>
                
                </div>

            </div>
        </div>
             

            </div>
        </div>
  </div>





<!-- View of profile -->
  <div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 ">
        {% for message in messages %}
            {{message}}
        {% endfor %}
        
        {% if confirm %}
            <div class="ui green message">Your profile has been updated</div>
        {% endif %}
        <h3>User Name : {{request.user}}</h3>
        <div class="ui grid">
            <div class='row'>
               
                <div class='six wide column'>
                    {% for data in obj%}
                    <img class="ui medium rounded image" width="200" height="230" src={{data.avatar}}>
                    {% endfor %}
                    <div class="row mt-5">
                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Update Your Profile</button>
                    </div>
                </div>
                
                
                <div class="ten wide column">
                    <table class="ui table">
                        <tbody>
                            {% for data in obj%}
                
                            <tr>
                                <td>username</td>
                                <td>{{user}}</td>
                            </tr>
                            <tr>
                                <td>first name</td>
                                <td>{{data.first_name}}</td>
                            </tr>
                            <tr>
                                <td>last name</td>
                                <td>{{data.last_name}}</td>
                            </tr>
                            <tr>
                                <td>bio</td>
                                <td>{{data.bio}}</td>
                            </tr>
                            <tr>
                                <td>country</td>
                                <td>{{data.country}}</td>
                            </tr>
        

                            <tr>
                                <td>Followers</td>
                                <td>
                                    <ul>
                                        {% for follower in data.followers %}
                                            <li>{{follower.username}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Following</td>
                                <td>
                                    <ul>
                                        {% for followin in data.following %}
                                            <li>{{followin.username}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% comment %} <script type="text/javascript"> 
     $(document).ready(function(){ 
        
    $('#mybtn').click(function(){
        console.log("clickeeeeeeeeeeedd")
        $('#mymodal').modal('show');
    })
}) 
</script> {% endcomment %}

{% endblock content%}

