{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="row justify-content-center mt-5">
    <div class="col-md-5 col-sm-15 ">
<a href="create/"><button type="button"  class="btn btn-secondary">Create New Post</button></a>
</div>
</div>
{% comment %} showing the posts  {% endcomment %}
<div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 border-bottom">
        <h1><strong></strong></h1>
        <h1 ><strong>News Feed</strong></h1>
    </div>
</div>


{% for post in posts %}
    {% if post %}
        {% for p in post%}
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><strong>{{ p.author }}</strong></h5>
                      <p class="card-text">{{ p.body }}</p>
                      <p class="card-text"><small class="text-muted">{{ post.created_on }}</small></p>
                    </div>
                    <img src="{{ p.image.url }}" data-src="holder.js/100px180/" alt="100%x300" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22466%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20466%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17d8f8f89ed%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A23pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17d8f8f89ed%22%3E%3Crect%20width%3D%22466%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22174.1796875%22%20y%3D%22100.2%22%3E466x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 350px; width: 100%; display: block;">
                  </div>
            </div>
    
        </div>
        {% endfor %}
    {% endif %}
{% endfor %} 

{% comment %} {% for post in post_list %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{ post.author }}</strong></h5>
                  <p class="card-text">{{ post.body }}</p>
                  <p class="card-text"><small class="text-muted">{{ post.created_on }}</small></p>
                </div>
                <img src="{{ post.image.url }}" data-src="holder.js/100px180/" alt="100%x300" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22466%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20466%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17d8f8f89ed%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A23pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17d8f8f89ed%22%3E%3Crect%20width%3D%22466%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22174.1796875%22%20y%3D%22100.2%22%3E466x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 350px; width: 100%; display: block;">
              </div>
        </div>

    </div>
  
   

    {% endfor %} {% endcomment %}

{% endblock content%}